POSTGRES_DB=trabalho4
POSTGRES_USER=trabalho4
POSTGRES_PASSWORD=trabalho4
POSTGRES_DB=bolsa
POSTGRES_USER=bolsa
POSTGRES_PASSWORD=bolsa

RABBITMQ_DEFAULT_USER=bolsa
RABBITMQ_DEFAULT_PASS=bolsa

API_PORT=8080
WORKER_PORT=8081
PUBLISHER_PORT=8082

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/bolsa
SPRING_DATASOURCE_USERNAME=bolsa
SPRING_DATASOURCE_PASSWORD=bolsa

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=bolsa
RABBITMQ_PASSWORD=bolsa
